* {
    margin: 0;
    padding: 0;
    font-family: 'Chilanka', cursive;
}

body {
    font-size: 10px;
    background-color: #FBFBFB ;
}

/*--------------------
# Sección del header
---------------------*/

.boyGeneral {
    width: 160em;
    margin: auto;
}

header {
    width: 100%;
    height: auto;
}

.bobyHeader {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 40em;
    height: 10em;
    background-image: url(../img/marcaPersonal.JPG);
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-top: 5em;
}

.cajaMenu {
    width: 115em;
    height: 10em;
    display: inline-block;
    margin-top: 5em;
    border-bottom-style: ridge;
}
.titulo1{
    font-size: 4em;
    text-align: center;
    padding: 0.6em;
}


/*--------------------
# Sección del section
---------------------*/

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5em;
}

.contenido {
    width: 35em;
    height: 60em;
}

.img {
    width: 100%;
    height: 20em;
    background-image: url(../img/AdamSandler.jpg);
    background-size: cover;
    background-position: center; 
    border-radius: 0.5em;
}
.img2 {
    width: 100%;
    height: 20em;
    background-image: url(../img/laRoca.jpg);
    background-size: cover;
    border-radius: 0.5em;
}
.img3 {
    width: 100%;
    height: 20em;
    background-image: url(../img/Will-Smith.jpg);
    background-size: cover;
    border-radius: 0.5em;
}
.img4 {
    width: 100%;
    height: 20em;
    background-image: url(../img/RobertDowney.jpg);
    background-size: cover;
    border-radius: 0.5em;
}

.titulo {
    width: 100%;
    height: 10em;
    background-color: #283747;
    border-radius: 0.5em;
    margin-top: 3em;
}

.parrafo {
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 2em; 
}
.texto{
    font-size: 1.7em;
    text-align: justify;
}
.subtitulo{
    font-size: 3.3em;
    text-align: center;
    padding: 1em;
    color: white;
    
}
/*----------------------
# Sección de resoluciones
----------------------*/

@media only screen and (max-width: 1600px) {
    /* Laptop */
    body {
        font-size: 8px;
    }
}

@media only screen and (max-width: 1366px) {
    /* Laptop */
    body {
        font-size: 7.5px;
    }
}


/*----------------------
# Sección de resoluciones IPAD
----------------------*/

@media only screen and (max-width: 768px) {
      body {
        font-size: 7px;
        padding-left: 6.2%;
        padding-right: 5%;
    }
    .boyGeneral {
        width: 100%;
        margin: auto;
    }
    .logo {
        width: 25%;
        height: 10em;
        display: inline-block;
        margin-top: 5em;
    }
    .cajaMenu {
        width: 70%;
        height: 10em;
        display: inline-block;
        margin-top: 5em;
    }
    .section {
        display: block;
    }
    .contenido {
        float: left;
        width: 40em;
        height: 60em;
        margin: 0em 4em 20em 4em;
    }
    .texto{
        font-size: 2.2em;
        text-align: justify;
    }
}


/*----------------------
# Sección de resoluciones TELEFONO
----------------------*/

@media only screen and (max-width:767px) {
    body {
        font-size: 7px;
        
    }
    .boyGeneral {
        width: 100%;
        margin: auto;
    }
    .logo {
        width: 40%;
        height: 10em;
        display: inline-block;
        margin-top: 5em;
    }
   .cajaMenu {
        width: 55%;
        height: 8em;
        display: inline-block;
        margin-top: 5em;
        border-bottom-style: ridge;
    }
    .section {
        display: block;
        width: 100%;
    }
    .contenido {
        float: none;
        display: block;
        margin: auto;
        width: 90%;
        height: 60em;
        margin-top: 3em;
        margin-bottom: 10em;
    }
    .texto{
        font-size: 2em;
        text-align: justify;
    }
    .titulo1{
        font-size: 2.5em;
        text-align: center;
        padding: 1em 0em 1em 0em;
        
       
    }

}
